<div class="row">
	<table class="table table-bordless table-striped">
			    <thead class="thead-dark">
				<tr>
				    <th style="width: 90%">ПРОИЗВЕДЕНИЕ</th>
				    <th style="width: 10%">&nbsp;</th>				    
				</tr>
			    </thead>
			    <tbody>
				<% @stories.each do |t| %>
				<tr>
				    <td><%=t.name%></td>
				    <td><%=  link_to 'Читать', reader_path(:story=>t.id), class:"btn btn-primary" %></td>
				</tr>
				<% end %>
			    </tbody>
			</table>
</div>
<div class="add_space">&nbsp;</div>
