
<div class="row">
<div id="work_field" class="col">
	<div class="row">
		<div class="col-9 wf_col_title">
			<%= @story.name %>
		</div>
		<div class="col-3 wf_col_title text-info">
			ПОЯСНЕНИЕ
		</div>
	</div>

	<div class="row">
		<div class="col-9 " id="col_text">
			<%= simple_format(@story_text,{}, sanitize: false) %>
		</div>
		<div class="col-3" id="col_word_description">
			<div id="word_description_block">
			<div class="row text-uppercase" id="word">&nbsp;</div>
			<div class="row " id="word_description"><span style="color: gray; text-align: center">Здесь будет отображаться пояснение устаревшего слова, после его выбора.</span></div>
			</div>
		</div>
	</div>
</div>
</div>

<%= link_to 'текст', dhh_word_path(word: 1, format: :json), class:'show_description_link', remote: true %>

