.row {  
    margin-left: 0px; margin-right: 0px;
} 




#main_page {
padding-top: 70px;
}


.round_btn {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 70px;
}

#work_field{
	border: 2px solid black;
	padding: 0px;
		
}

.wf_col_title{
	padding: 5px 15px;
	
	border-bottom: 1px solid black;
	background: #1F1F1F;

	font-size: 2rem;
	color: white;
}

#col_word_description{
	background: #dab0da;
}


#word_description_block{
	position: fixed;
	width: 246.5px;
	display: block;
}

#word{
	margin: 10px 0px;
}

.show_description_link{
	background: #dab0da;
}

.add_space{
	height:780px;
}








